[user]
	email = woshiluo.luo@outlook.com
	signingkey = A2AA7A2471928C3244077AA542AC62C614601460
	name = Woshiluo Luo
[core]
	filemode = false
	gitProxy = /home/woshiluo/.git-proxy
[commit]
	gpgsign = true
[tag]
	forcesignannotated = true
[color]
	ui = auto
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
