[user]
	email = woshiluo.luo@outlook.com
	signingkey = A2AA7A2471928C3244077AA542AC62C614601460
	name = Woshiluo Luo
[core]
	filemode = false
	gitProxy = /home/woshiluo/.git-proxy
[commit]
	gpgsign = true
[tag]
	forcesignannotated = true
[https]
	proxy = http://127.0.0.1:8118/
[http]
	proxy = http://127.0.0.1:8118/
