[user]
	email = woshiluo.luo@outlook.com
	signingkey = A2AA7A2471928C3244077AA542AC62C614601460
	name = Woshiluo Luo
[core]
	filemode = false
[commit]
	gpgsign = true
[tag]
	forcesignannotated = true
